.main {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 48px 16px;
  font-family: var(--font-geist-sans);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main h1 {
  font-size: 32px;
  font-weight: 600;
}

.main a {
  text-decoration: underline;
}
